<div class="jumbotron text-center " style="margin-bottom:0">
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
	<a class="navbar-brand" href="#">
		<img src="assets/img/quizard.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
		Quizard of Oz
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" routerLink="/adminHome">HOME <span class="sr-only"></span></a>
			</li>
			<li class="nav-item">
				<a routerLink="/info" class="nav-link">INFO</a>
			</li>
			<li class="nav-item">
				<a routerLink="/play" class="nav-link">PLAY</a>
			</li>
			<li>
				
				<!-- <form>
				input type="submit" value="Logout" class="btn text-light" name="logout">
				</form> -->
			</li>
		
		</ul>
		<div class="form-group" id="logOutButton">
				<button class="btn btn-success btn-center" (click)="userLogout()">LOGOUT</button>
		</div>
	</div>
</nav>